*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

#body{
    background-color:#393E46;
}


#mobile{
    display: none;
}

#close-mobile{
    display: none;
}


nav{
    display: flex;
    padding: 20px ;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    img{
        height: 32px;
        width: 102px;
        left: 77px;
        top: 42px;
        border-radius: 0px;
    }

   ul a{
        color: white;
        
    }
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    max-width: 100vw;
    

  #container{
      
     
    h1{
        font-size: 48px;
        line-height: 50px;
    }

    p{
        margin-top: 50px;
        line-height: 29px;
        width: 60%;
    }
  }

  #programer{
    width: auto;
    height: 100px;
    background-color: #292c31;
    position: absolute;
    align-self: flex-end;
    align-items: center;
    margin-right: 3vw;
    display: flex;
    padding: 15px;
   
    img{
        height: 90%;
        border-radius: 100%;
    }

    p{
        padding: 5px;
    }
   
   
   
}

   #apresenta{
       max-width: 50%;
   }

}







@media screen and (max-width:993px){
    main {
        #programer{
            display: none;
        }
    }
}

@media screen and (max-width:765px){
    main{
       flex-direction: column;
       #container{
           text-align: center;
           p{
               width: 100%;
           }
       }

       #apresenta{
           max-width: 70%;
       }
    }
}

@media screen and (max-width:700px){
  
    
    #nav{
        z-index: 1;
       overflow-y: hidden;
       background-color:#393E46;
       transform: translateX(-100%);
       transition: 0.5s;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       position: absolute;
        display: flex;
       width: 100vw;
       height: 100vh;
      
     
       li{
           padding: 10px 0px;
           a{
               font-size: 20px;
           }
       }
    }

  

    #mobile{
        display: initial;
        cursor: pointer;
    }

    #close-mobile{
        display: initial;
        cursor: pointer;
    }
}

