*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#393E46;
}
#mobile{
    display: none;
}

#close-mobile{
    display: none;
}


nav{
    display: flex;
    padding: 20px 20px;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    img{
        height: 32px;
        width: 102px;
        left: 77px;
        top: 42px;
        border-radius: 0px;
    }

   ul a{
        color: white;
        
    }
}

main{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-around;
    

  #container{
    h1{
        font-size: 48px;
        line-height: 50px;
    }

    p{
        margin-top: 50px;
        line-height: 29px;
        width: 60%;
    }
  }
   #apresenta{
       max-width: 50%;
   }
}





@media screen and (max-width:765px){
    main{
       flex-direction: column;
       #container{
           text-align: center;
           p{
               width: 100%;
           }
       }

       #apresenta{
           max-width: 70%;
       }
    }
}

@media screen and (max-width:700px){
    #nav{
       transform: translateX(-100%);
       position: absolute;
       transition: 0.5s;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       position: absolute;
        display: flex;
       width: 100%;
       height: 100%;
       li{
           padding: 10px 0px;
           a{
               font-size: 20px;
           }
       }
    }

  

    #mobile{
        display: initial;
        cursor: pointer;
    }

    #close-mobile{
        display: initial;
        cursor: pointer;
    }
}

